/* LandingPage.css */

.button {
    background-color: #5b8abd; /* Modern blue color for the buttons */
    color: rgb(255, 255, 255);
    padding: 15px 30px; /* Adjust padding to make the buttons bigger */
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.2em; /* Increase font size for the buttons */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add smooth transition for hover effect */
    
  }
  
  .button:hover {
    background-color: #72a2d6; /* Darker blue color on hover */
  }
  
  .buttons {
    margin-top: 30px; /* Add margin to separate buttons from the title */
    display: flex;
    justify-content: center; /* Center align buttons */
  }
  