/* RegisterPage.css */

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register-form {
    background-color: #ffffff;
    padding: 100px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 20%;
  }
  
  .register-form h2 {
    text-align: center;
  }
  
  .register-form table {
    width: 100%;
  }
  
  .register-form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid rgb(77, 21, 126);
    border-radius: 5px;
  }
  
  .register-form button {
    width: 100%; /* Make button full width */
    padding: 10px;
    background-color: #7627cb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .register-form button:hover {
    background-color: #3ec760;
  }
  
  .register-form p {
    margin-top: 50px;
    text-align: center;
  }
  
  .register-gif {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: right;
  }
  
  .register-gif img {
    max-width: 80%;
    height: auto;
  }
  
  .button-container {
    display: flex;
    justify-content: center; 
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
    background-color: #c6eff794; 
    padding: 25px 0; 
    width: 100%;
  }
  
  .navbar h1 {
    margin: 0; 
    font-size: 1.5em;
    color: #9ef3f3; /* Adjust font color */
  }